.MMM-Keyboard .keyboardWrapper {
  width: 650px;
  margin: 100px auto;
  text-align: center;
  z-index: 3;
  
}

.MMM-Keyboard .kbContainer {
  opacity: 0;
  margin-top: -200%;
  transition: margin-top 0.8s ease-in-out, opacity 0.3s;
}

.MMM-Keyboard .kbButton {
  height: 75px;
  font-size: 70px;
  width: 100px;
  margin: auto auto;
}

.MMM-Keyboard #inputField {
  width: 390px;
  font-size: 26px;
  padding: 20px 20px;
  margin: 10px 5px;
  box-sizing: border-box;
  background-color: black;
  border: 4px solid white;
  border-radius: 8px;
  resize: none;
  color: white;
}

.MMM-Keyboard input:focus {
}

.MMM-Keyboard .sendButton {
  background-color: #000044;
  border: 4px solid white;
  border-radius: 8px;
  color: white;
  font-size: 26px;
  padding: 20px 10px;
  text-decoration: none;
  cursor: pointer;
  margin: 10px 5px;
  min-width: 60px;
}

.MMM-Keyboard {
  margin: 100px auto;
}

.MMM-Keyboard .simple-keyboard {

}

.MMM-Keyboard .show-keyboard {
  opacity: 1;
  margin-top: 0;
}

.MMM-Keyboard .hg-theme-default {
  padding: 10px;
  background-color: black;
}

.MMM-Keyboard .hg-theme-default .hg-row {
  justify-content: center;
}

.MMM-Keyboard .hg-theme-default .hg-button {
  height: 50px;
  color: #5d7b9d;
  font-size: 0.7em;
  padding: 8px;
  margin: 1px;
}

.MMM-Keyboard .hg-theme-default .hg-button.hg-standardBtn{
  min-width: 45px;
  max-width: 45px;
}

.MMM-Keyboard .hg-theme-default .specialButton {
  min-width: 60px;
  max-width: 150px;
}

.MMM-Keyboard .hg-theme-default .emptyButton {
  background-color: #ccc;
}
